{% extends 'pantry_base.html' %}
{% block pantry %}
    {% if pantryList.count > 1%}
    <h2>My Pantries</h2>
    {% else %}
    <h2>My Pantry</h2>
    {% endif %}
    {% for name in pantryList %}
    {% if name.user_id == request.user.pk %}
    <div class='pantryitems' id='{{name}}'>
        <div class='pantrylistitem'>
            <div class="toprow">
            {% for object in item_name%}
                {% if name|stringformat:"s" == object.pantry_name|stringformat:"s" %}
                    <div id="{{object.item_name}}" class="ingred_name" onclick="getRecipe('{{object.item_name}}')">{{object.item_name}}</div>
                {% endif %}
            {% endfor %}
            {% for item in item_name %}
                {% if name|stringformat:"s" == object.pantry_name|stringformat:"s" %}
                    <a onclick='showHide('{{item.item_name}}')'>Hide</a>
                {% endif%}
            {% endfor %}
            </div> 
            {% for object2 in item_name%}
                {% if name|stringformat:"s" == object2.pantry_name|stringformat:"s" %}
                    <div class="recipe" id="recipe_for_{{object2.item_name}}"></div>
                {% endif %}
            {% endfor %}
                <p class='pantrylistname'>{{name}}</p>
        </div>
    </div>
    {% endif%}
    {% endfor %}

    <a class = 'btn btn-md btn-fill btn-dark' href={% url 'thepantry:ingredients' request.user.pk %}>Add item to pantry</a>
{% endblock %}


{% block postpantry %}
{% endblock %}