{% extends 'pantry_base.html' %}
{% block pantry %}
    {% if pantryList.count > 1%}
    <h2 class='contenttitle'>My Pantries</h2>
    {% else %}
    <h2 class='contenttitle'2>My Pantry</h2>
    {% endif %}
    {% for name in pantryList %}
    {% if name.user_id == request.user.pk %}
    <div class='pantryitems' id='{{name}}'>
        <div class='pantrylistitem'>
            <div class="toprow">
            {% for object in item_name%}
                {% if name|stringformat:"s" == object.pantry_name|stringformat:"s" %}
                    
                    <div id="{{object.item_name}}" class="ingred_name" onclick="getRecipe('{{object.item_name}}')">
                        <a class='deletei' href={% url 'thepantry:ingredient_delete' object.id%}>x</a>{{object.item_name}}</div>
                    {% comment %} <div class="recipe" id="recipe_for_{{object2.item_name}}"></div> {% endcomment %}
                {% endif %}
            {% endfor %}
            </div> 
                <p class='pantrylistname'>{{name}}</p>
                <a class='deletep' href={% url 'thepantry:pantry_delete' name.pk%}>Delete Pantry</a>
        </div>
    </div>
    {% endif%}
    {% endfor %}
    <div class="recipe" id="recipe_for_ingredient"></div>
    <a class="deletep" href="">Return</a>
    <a class='deletep' href={% url 'thepantry:ingredients' request.user.pk %}>Add item to pantry</a>
{% endblock %}


{% block postpantry %}
{% endblock %}