html{
  font-size:14px;
}

body{
  background:#ffffff;
  color:#000000;
  font-family:'Noto Sans'
}

/* navbar */
#navbar {
  background-color:#F6EBF4;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  text-align:center;
  min-height:65px;
}

#hogo {
  animation: spinner 5s infinite linear;
  margin-right:3%;
}

@keyframes spinner {
  0% {rotate:90deg}
  15% {rotate:180deg}
  30% {rotate:270deg}
  45% {rotate:360deg}
  60% {rotate:450deg}
  75% {rotate:540deg}
  90% {rotate:630deg}
  100% {rotate:630deg}
}


/* burger on small screen */
.toggle{
  font-size:2rem;
  padding-top:0px;
  color: #000000;
}

/* topright brand */
.navbar-brand {
  color:#000000;
  text-shadow:2px 2px 3px #fdff74;
  font-size:3rem;
  font-weight:bold;
  font-family:'Sansita Swashed' !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.navbar-brand:hover{
  color:#fdff74;
  text-shadow:2px 2px 3px #000000;
  text-decoration: solid underline #000000 2px !important;
  font-weight:bold;
  font-family:'Sansita Swashed' !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.nav-item{
  border-radius:5px;
}

.nav-link{
  color:#000000;
  border-radius:5px;
  display:flex;
  justify-content: center;
  font-size:1.25rem;
  margin-top:3px;
  text-shadow: 1px 1px 3px #ffffff;
}

.nav-link:hover{
  background-color:#ffffff;
  color:#dee054 !important;
  border-radius:5px;
  text-shadow: 2px 2px 4px #dee054;
  border:1px solid #020202;
  box-shadow:1px 1px 3px #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

/* main container */
.container {
  margin-top:2%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color: #F6EBF4;
  border:1px #000000 solid;
  box-shadow:30px 30px 60px #363636;
  border-radius:10px;
  max-width:70%;
}

.mycontent {
  padding-bottom:100px !important;
  display:flex;
  flex-direction:column;
}

/* edit profile */
.profile {
  display:flex;
  flex-direction:column;
  width:50%;
  margin-left:25%;
  margin-top:1%;
  text-align:center;
}

.profile img{
  border-radius:10px;
}

/* profile page */
.profile_page {
  display:flex;
  flex-direction:column;
  width:50%;
  margin-left: 25%;
  margin-top:5%;
  padding:5%;
}

.profile_page img{
  border-radius:100%;
}

/* pantry css */
.pantryitems{
  text-decoration: none;
}


.pantryitems .pantrylistitem {
  display:flex;
  flex-direction: column;
  border:1px black solid;
  padding:25px;
  margin-bottom:2%;
  justify-content: center;
  border-radius:20px;
  background-color: white;
}

.pantryitems .pantrylistitem:hover {
  background-color:#8f8f8f;
  color:white;
}

.pantrylistitem .pantrylistname {
  color:black;
  text-align:center;
  margin-bottom:-2%;
}