html{
  font-size:14px;
}

body{
  background: #152A3F;
  /* background:#4195e4; */
  color:rgba(11, 10, 10, 0.637);
  font-family:'Noto Sans'
}
body p{
  color:rgba(11, 10, 10, 0.637);
  text-align: center;
  font-size: 2rem;
}
/* buttons */
button{
  width:10%;
  display:flex;
  box-shadow: -1px -1px 5px #e4e2e6af, 1px 1px 3px rgba(87, 39, 83, 0.616);
  text-decoration: none;
  justify-content:center;
  color:white;
  padding:50px;
  text-align:center;
  border-radius:20px;
  align-self: center;
}
  
button:hover{
  color:white;
  background-color:#740d0d !important;
  box-shadow: inset -1px -1px 5px #2e2d2d73, inset 1px 1px 3px rgba(111, 94, 121, 0.288);
}

/* All <a> element button s */
.deletep{
  width:10%;
  display:flex;
  /* background-color:#d8096a; */
  background-image: url(/static/images/bluemetalbg.jpg);
  background-size: cover;
  box-shadow: -1px -1px 3px #b0cbe0d2, 2px 2px 3px rgba(0, 0, 0, 0.932);
  text-decoration: none;
  justify-content:center;
  color:white;
  padding:10px;
  min-width:130px;
  text-align:center;
  border-radius:20px;
  align-self: center;
  margin-bottom:1%;
  margin-top:2%;
}

.deletep:hover{
  color:white;
  box-shadow: inset -1px -1px 4px rgba(174, 205, 231, 0.774), inset 3px 3px 6px rgba(0, 0, 0, 0.822);
}

.deletei{
  display:flex;
  position:absolute;
  background-color:#494B48;
  top:0;
  right:0;
  box-shadow: -1px -1px 2px #363738af, 1px 1px 3px rgb(24, 23, 24);
  text-shadow: inset -2px -2px 5px #5c5c5eb0, inset 2px 2px 5px rgb(20, 20, 20);
  text-decoration: none;
  justify-content:center;
  color:rgb(233, 233, 233);
  width:25px;
  height:25px;
  text-align:center;
  border-radius:50%;
  align-self: center;
  margin-bottom:1%;
}

.deletei:hover{
  color:rgb(199, 199, 199);
  background-color:#b3135d;
  box-shadow: inset -1px -1px 3px #e5a1e7b0, inset 1px 1px 3px rgb(36, 9, 44);
}

/* navbar */
#navbar {
  background-color:rgba(253, 253, 253, 0.87);
  text-align:center;
  min-height:65px;
  
}

#hogo {
  animation: spinner 5s infinite linear;
  margin-right:3%;
}

/* burger on small screen */
.toggle{
  font-size:2rem;
  padding-top:0px;
  color: #000000;
}

/* topright brand */
.navbar-brand {
  color:rgba(11, 10, 10, 0.637);
  font-size:3rem;
  font-weight:bold;
  font-family:'Noto Sans' !important;
  transition: all 0.3s ease;
}
.navbar-brand:hover{
  color:rgba(221, 221, 221, 0.637);
  text-shadow:2px 2px 3px #000000;
  text-decoration: solid underline #000000 2px !important;
  font-weight:bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.blu3{
  border: 2px solid #4195e4;
}

.nav-item{
  border-radius:5px;
}

.nav-link{
  color:#000000;
  border-radius:5px;
  display:flex;
  justify-content: center;
  font-size:1.25rem;
  margin-top:3px;
  /* text-shadow: 2px 2px 4px #dee054; */
}

.nav-link:hover{
  background-color:#ffffff;
  color:black;
  border-radius:5px;
  /* text-shadow: 2px 2px 4px #dee054; */
  border:1px solid #020202;
  box-shadow:1px 1px 3px #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
/* navdropdown */
.dropdown-item{
  color:#000000;
  border-radius:5px;
  display:flex;
  justify-content: center;
  font-size:0.75rem;
  margin-top:3px;
  text-shadow: 1px 1px 3px #ffffff;
}

.dropdown-item:hover{
  background-color:#ffffff;
  color:#dee054 !important;
  border-radius:5px;
  text-shadow: 2px 2px 4px #dee054;
  border:1px solid #020202;
  box-shadow:1px 1px 3px #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.contenttitle{
  padding: 20px;
  color:rgba(11, 10, 10, 0.637);
  /* background-color: rgba(221, 221, 221, 0.637); */
  border: 4px solid rgba(11, 10, 10, 0.637);
  border-radius: 10px;
  display:flex;
  font-weight:bold;
  font-size:3rem;
  justify-content:center;
  align-items: center;
  text-shadow:5px 5px 10px #dee054;
  margin-bottom:5%;
  margin-top:5%;

}
.contenttitle:hover{
  animation: flicker 1.25s linear 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.041);
}
.contenttitle .contenttitleimg{
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

/* main container */
.container {
  margin-top:2%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color: #f8f8f8;
  box-shadow:20px 20px 40px #0000007e;
  border-radius:10px;
  max-width:70%;
  min-width: 375px;
}
/* main container2 */
.mycontent {
  padding-bottom:100px !important;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(/static/images/metalbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* edit profile */
.profile {
  display:flex;
  flex-direction:column;
  margin-top:40px;
  width: 350px;
  justify-content: center;
  text-align:center;
  position:relative;

}

.profile .profviewedit {
  width:150px;
  height:150px;
  top:15px;
  position:absolute;
  border:5px solid black;
  align-self:center;
  object-position:50% 5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #ffffff50, 3px 3px 5px rgba(0, 0, 0, 0.288);
}

.profdesc{
  margin-top:20%;
}

/* profile page */
.profile_page {
  display:flex;
  flex-direction:column;
  width:50%;
  justify-content: center;
  text-align:center;
  align-self: center;
  margin-top:5%;
  padding:5%;
}

.profilecard{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  /* background-color:#152A3F; */
  margin-top:5%;
  padding:20px;
  border-radius:20px;
  width: 300px;
  box-shadow: -3px -3px 7px #535353a9,  3px 3px 5px rgba(0, 0, 0, 0.808);
}

.profilecard .profimg{
  width:150px;
  height:150px;
  object-fit:cover;
  align-self:center;
  object-position:50% 5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #ffffff50, 3px 3px 5px rgba(0, 0, 0, 0.288);
}

.profilecard p{
  color:rgb(235, 232, 232);
}

/* pantry css */
.pantry{
  display:flex;
  flex-direction:column;
  min-width:50%;
}


.pantryitems{
  text-decoration: none;
}

.pantryitems .pantrylistitem {
  display:flex;
  flex-direction: column;
  margin-bottom:2%;
  justify-content: center;
  border-radius:10px;
  padding-top:30px;
  padding-bottom:20px;
  background-color: #152a3fa9;

  text-decoration:none;
  box-shadow: 4px 4px 3px #0a141fd0;
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
}

.pantryitems .pantrylistitem:hover {
  /* background-color:#814ebb; */
  background-color: #152a3f6b;
  box-shadow: inset -3px -3px 7px rgba(179, 187, 233, 0.451), inset 3px 3px 5px rgba(39, 30, 44, 0.288);
  border-radius:10px;
}

.pantryitems .pantrylistitem .toprow {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-bottom:3%;
  padding-top:5%;
}
/* ingredient button */
.ingred_name{
  /* background-color: #9158b3; */

  background-image: url(/static/images/metalbg.jpg);
  background-position: cover;
  filter: brightness(80%);
  justify-content:center;
  color:white;
  text-shadow:2px 2px 4px;
  /* #fdff74; */
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  text-align:center;
  padding-top:70px;
  width:100px;
  min-width:175px;
  min-height:175px;
  margin:5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #152a3f9d, 3px 3px 5px rgba(94, 104, 121, 0.288);
  cursor:pointer
}

.ingred_name p{
  margin-top:5%;
}

.ingred_name:hover{
    animation: flicker 1.5s linear 1;
    box-shadow: inset -3px -3px 7px #ffffff73,
              inset 3px 3px 5px rgba(94,104,121,0.288);
  }


.ingred_name:active{
  color:rgb(39, 23, 48);
  background-color:#6d37a0;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(111, 94, 121, 0.288);
}

.pantrylistitem .pantrylistname {
  color:rgb(255, 255, 255);
  text-align:center;
  font-size:3rem;
  text-shadow:3px 3px 10px #dee054;
  margin-top:2%;
}

.pantrylistname:hover{
  animation: flicker 2s linear 1;
}

.recipe{
  display:flex;
  justify-content:center;
  align-self:center;
  text-align:center;
  list-style:none;
  flex-direction: column;
  background-color:#ffffff;
  min-width:60%;
  box-shadow:5px 5px 10px rgb(0, 0, 0);
  margin-top:1%;
}

.recipe .rimg{
  align-self:center;
  width: 200px;
}

.recipe .ings{
  border-bottom:1px solid rgb(199, 210, 248);
  
}

/* flicker animation for headings */
@keyframes flicker {
  0% {color:white}
  1% {color:#1b1b1b}
  2% {color:white}
  3% {color:#1b1b1b}
  4% {color:white}
  8% {color:#1b1b1b}
  9% {color:white}
  11% {color:#636363}
  100% {color:white}
}

/* home logo animation */
@keyframes spinner {
  0% {rotate:90deg}
  15% {rotate:180deg}
  30% {rotate:270deg}
  45% {rotate:360deg}
  60% {rotate:450deg}
  75% {rotate:540deg}
  90% {rotate:630deg}
  100% {rotate:630deg}
}

/* edit profile form page */
.editform{
 color:white; 
}

.editform li,p{
  color:black;
}

.form-text{
  color:black;
}
