html{
  font-size:14px;
}

body{
  background:#4195e4;
  color:#000000;
  font-family:'Noto Sans'
}
/* buttons */
button{
  width:10%;
  display:flex;
  background-color:#d8096a !important;
  box-shadow: -1px -1px 5px #cca1e6af, 1px 1px 3px rgba(87, 39, 83, 0.616);
  text-decoration: none;
  justify-content:center;
  color:white;
  padding:50px;
  text-align:center;
  border-radius:20px;
  align-self: center;
}
  
button:hover{
  color:white;
  background-color:#b3135d !important;
  box-shadow: inset -1px -1px 5px #ffffff73, inset 1px 1px 3px rgba(111, 94, 121, 0.288);
}

/* All <a> element button s */
.deletep{
  width:10%;
  display:flex;
  background-color:#d8096a;
  box-shadow: -1px -1px 5px #e2a3ffaf, 1px 1px 3px rgb(36, 9, 44);
  text-decoration: none;
  justify-content:center;
  color:white;
  padding:10px;
  min-width:130px;
  text-align:center;
  border-radius:20px;
  align-self: center;

}

.deletep:hover{
  color:white;
  background-color:#b3135d;
  box-shadow: inset -1px -1px 5px #e5a1e7b0, inset 1px 1px 3px rgb(36, 9, 44);
}

/* navbar */
#navbar {
  background-color:#F6EBF4;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  text-align:center;
  min-height:65px;
}

#hogo {
  animation: spinner 5s infinite linear;
  margin-right:3%;
}

/* burger on small screen */
.toggle{
  font-size:2rem;
  padding-top:0px;
  color: #000000;
}

/* topright brand */
.navbar-brand {
  color:#000000;
  text-shadow:2px 2px 3px #fdff74;
  font-size:3rem;
  font-weight:bold;
  font-family:'Sansita Swashed' !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.navbar-brand:hover{
  color:#fdff74;
  text-shadow:2px 2px 3px #000000;
  text-decoration: solid underline #000000 2px !important;
  font-weight:bold;
  font-family:'Sansita Swashed' !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.blu3{
  border: 2px solid #4195e4;
}

.nav-item{
  border-radius:5px;
}

.nav-link{
  color:#000000;
  border-radius:5px;
  display:flex;
  justify-content: center;
  font-size:1.25rem;
  margin-top:3px;
  text-shadow: 2px 2px 4px #dee054;
}

.nav-link:hover{
  background-color:#ffffff;
  color:black;
  border-radius:5px;
  text-shadow: 2px 2px 4px #dee054;
  border:1px solid #020202;
  box-shadow:1px 1px 3px #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
/* navdropdown */
.dropdown-item{
  color:#000000;
  border-radius:5px;
  display:flex;
  justify-content: center;
  font-size:0.75rem;
  margin-top:3px;
  text-shadow: 1px 1px 3px #ffffff;
}

.dropdown-item:hover{
  background-color:#ffffff;
  color:#dee054 !important;
  border-radius:5px;
  text-shadow: 2px 2px 4px #dee054;
  border:1px solid #020202;
  box-shadow:1px 1px 3px #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.contenttitle{
  color:white;
  display:flex;
  font-weight:bold;
  font-size:3rem;
  justify-content:center;
  text-shadow:5px 5px 10px #dee054;
  margin-bottom:5%;
  margin-top:5%;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #000000;
}

.contenttitle:hover{
  animation: flicker 1.25s linear infinite;
}


/* main container */
.container {
  margin-top:2%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color: #F6EBF4;
  box-shadow:30px 30px 60px #363636;
  border-radius:10px;
  max-width:70%;
  min-width: 375px;
}
/* main container2 */
.mycontent {
  padding-bottom:100px !important;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: #6c57b9;
}

/* edit profile */
.profile {
  display:flex;
  flex-direction:column;
  margin-top:40px;
  width: 350px;
  justify-content: center;
  text-align:center;
  position:relative;

}

.profile .profviewedit {
  width:150px;
  height:150px;
  top:15px;
  position:absolute;
  border:5px solid black;
  align-self:center;
  object-position:50% 5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #ffffff50, 3px 3px 5px rgba(0, 0, 0, 0.288);
}

/* profile page */
.profile_page {
  display:flex;
  flex-direction:column;
  width:50%;
  justify-content: center;
  text-align:center;
  align-self: center;
  margin-top:5%;
  padding:5%;
}

.profilecard{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  background-color:#3e298b;
  margin-top:5%;
  padding:20px;
  border-radius:20px;
  width: 300px;
  box-shadow: inset -3px -3px 7px #ffffff50, inset 3px 3px 5px rgba(0, 0, 0, 0.288);
}

.profilecard .profimg{
  width:150px;
  height:150px;
  object-fit:cover;
  align-self:center;
  object-position:50% 5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #ffffff50, 3px 3px 5px rgba(0, 0, 0, 0.288);
}

.profilecard p{
  color:white;
}

/* pantry css */
.pantry{
  display:flex;
  flex-direction:column;
  min-width:50%;
}


.pantryitems{
  text-decoration: none;
}

.pantryitems .pantrylistitem {
  display:flex;
  flex-direction: column;
  margin-bottom:2%;
  justify-content: center;
  border-radius:10px;
  padding-top:30px;
  padding-bottom:20px;

  background-color:#9158b3;
  text-decoration:none;
  box-shadow: -3px -3px 7px #cca1e6af, 3px 3px 5px rgba(63, 42, 80, 0.616);
}

.pantryitems .pantrylistitem:hover {
  background-color:#814ebb;
  box-shadow: inset -3px -3px 7px rgba(207, 179, 233, 0.451), inset 3px 3px 5px rgba(51, 40, 58, 0.288);
  border-radius:10px;
}

.pantryitems .pantrylistitem .toprow {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  padding-bottom:3%;
  padding-top:5%;
}
/* ingredient button */
.ingred_name{
  background-color: #9158b3;
  justify-content:center;
  color:white;
  text-shadow:2px 2px 4px #fdff74;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  text-align:center;
  padding-top:40px;
  width:100px;
  min-width:100px;
  min-height:100px;
  margin:5%;
  border-radius:50%;
  box-shadow: -3px -3px 7px #cca1e6af, 3px 3px 5px rgba(87, 39, 83, 0.616);
  cursor:pointer
}

.ingred_name:hover{
    animation: flicker 1.5s linear infinite;
  }


.ingred_name:active{
  color:rgb(39, 23, 48);
  background-color:#6d37a0;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(111, 94, 121, 0.288);
}

.pantrylistitem .pantrylistname {
  color:rgb(255, 255, 255);
  text-align:center;
  font-size:3rem;
  text-shadow:3px 3px 10px #dee054;
  margin-top:2%;
}

.pantrylistname:hover{
  animation: flicker 2s linear infinite;
}

.recipe{
  display:flex;
  justify-content:center;
  align-self:center;
  text-align:center;
  list-style:none;
  flex-direction: column;
  background-color:#4195e4;
  border-radius:10px;
  min-width:50%;
  box-shadow:5px 5px 10px rgb(0, 0, 0);
  margin-top:1%;
}

/* flicker animation for headings */
@keyframes flicker {
  0% {color:white}
  1% {color:#1b1b1b}
  2% {color:white}
  3% {color:#1b1b1b}
  4% {color:white}
  8% {color:#1b1b1b}
  9% {color:white}
  11% {color:#636363}
  100% {color:white}
}

/* home logo animation */
@keyframes spinner {
  0% {rotate:90deg}
  15% {rotate:180deg}
  30% {rotate:270deg}
  45% {rotate:360deg}
  60% {rotate:450deg}
  75% {rotate:540deg}
  90% {rotate:630deg}
  100% {rotate:630deg}
}