{% extends "Account/profile_page.html" %}
{% load static %} 
{% load django_bootstrap5 %}

{% block content %}
<div class = "profile">
    <div class="profviewedit"></div>
        <img src="{{user.avatar.url}}">
        <p class="profdesc">{{user.first_name|capfirst }} {{user.last_name|capfirst}}</p>
        <p class="profdesc">{{user.bio|capfirst|default_if_none:""}}</p>
</div>

<div class="editprof">
<h2>Edit</h2>
<p>Minimum height for profile picture is 160px</p> 
<p style="color:red"><strong><i>Editing your profile will log you out</i></strong></p>
<form method="POST" class="editform" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="deletep" value="Change">
</form>
</div>
{% endblock %}
