{% extends "Account/profile_page.html" %}
{% load static %} 
{% load django_bootstrap5 %}

{% block content %}
<div class = "profile">
    <img class="profimg" src="{{user.avatar.url}}">
    <p class="profdesc">{{user.username}}</p>
    <p class="profdesc">{{user.bio}}</p>
</div>

<div class="mycontent">
    <h2>Edit</h2>
    <p style="color:red"><strong><i>Editing your profile will log you out</i></strong></p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-success" value="Change">
    </form>
</div>
{% endblock %}
